*{
  margin: 0;
  padding: 0;
}
nav{
  background-color: rgb(190, 190, 190);
  color: 0;;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
}

ul.menu{
  display: flex;
  list-style: none;
}
ul.menu li{
  margin-left: 1rem;
}

ul.menu li a:hover{
  
  color: rgb(255, 255, 255);
  background-color: black;
  
}
ul.menu li a{
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 0.5rem 0.5rem; 
  display: inline-block;
  text-decoration: none;
}
.agv a{
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 0.5rem 0.5rem; 
  display: inline-block;
  text-decoration: none;
}
.agv a:hover{
  color: rgb(255, 255, 255);
  background-color: black;
}



header{
  background-image: url('https://images.unsplash.com/photo-1548611716-3000815a5803?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: center;
  font-family: Kanit;
  height: 90%;
  
}
body, html {
  height: 100%;
}
a{
  font-family: Kanit;
}


.header-one h1{
  font-size: 3rem;
  color: rgb(0, 0, 0);
  margin: auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  
}
body {
  font-family: Kanit;
}
a{
  font-family: Kanit;
}
.VDO{
  font-size: 3rem;
  color: rgb(0, 0, 0);
  margin: auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(190, 190, 190);
  color: white;
  text-align: center;
  padding: 1rem;
}
footer a{
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem 0.5rem; 
  display: inline-block;
  text-decoration: none; 
  margin-left: 0.5rem;
  
}
footer a:hover{
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}


